@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$padding_large:2rem;
$padding_medium:1.5rem;
$padding_small:1rem;
$primary_color:teal;
$light_white_color:rgba(255, 255, 255, 0.863);
$violet_color:rgb(99, 18, 206);
$crimson_color:rgb(255, 11, 72);
$deep_blue_color:rgb(8, 134, 207);
$secondary_color:rgb(225, 233, 233);
$tertiary_color:rgb(255, 255, 255);
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background:$secondary_color;
    font-family: 'Poppins', sans-serif;
    @media screen and (max-width:500px) {
        font-size: 0%;
        header.header
        {
            gap: $padding_small;
            justify-content: flex-start;
            padding: .5rem 0;
            box-shadow: none;
            .title_secondary
            {
                order: 4;
            }
            img
            {
                margin-left:.5rem;
            }
          
        }
       
        main,footer#footer
        {
            margin: .5em;

        }
    }
}
button,.btn{
    padding:.5em .8em;
    border-radius: .3em;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
font-size: .9rem;
}
.title_primary
{
  font-size: 2rem;
  text-transform: uppercase;
  color:teal;
}
.title_secondary
{
    font-weight: 500;

    font-size: 1.1rem;
    text-transform: uppercase;
    color:$primary_color;
}
.title_tertiary
{
    font-size: 1.2rem;
    color:rgba(0, 0, 0, 0.877);
}
.card{
    background: $tertiary_color;
    padding:$padding_medium;
    border-radius: .3em;
    box-shadow: 0 0 .4em rgba(0, 0, 0, 0.267);
}

.btn_primary{
// color:white;
background: white;
font-weight: 500;
transition: all .3s ease-in-out;
&:hover
{
    box-shadow: 0 4px .5rem rgba(0, 0, 0, 0.281);
}

}
.btn_secondary{
font-weight: 500;
background: transparent;
border: 1px solid white;
color:white;
transition: all .3s ease-in-out;
&:hover
{
    box-shadow: 0 4px .5rem rgba(0, 0, 0, 0.281);
}
}
.color_primary{
    color:$primary_color;
}
.color_violet{
    color:$violet_color;
}
.btn_white{
background: white;
}
.published_date
{
font-weight: 300;
font-size: .9rem;
color: rgba(255, 255, 255, 0.856);
}
.center
{
    text-align: center;
}
p.desc{
    margin: $padding_small 0;
    font-weight: 400;
    font-size: .95rem;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.904);

}
@mixin title_center {
    text-align: center;
margin-bottom: $padding_medium;
}
@mixin card_style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .title_secondary{
        color:$tertiary_color;
     margin-bottom: .5rem;
    }
    .section_desc{
        font-size: 1.1rem;
        color:$light_white_color;
        margin-bottom: .8rem;
    }
    button{
        margin-top: auto;
    }
}
ul{
    list-style: none;
}
a{  cursor: pointer;
    text-decoration: none;
}

@mixin card_style_2 {
    &:nth-of-type(4n+1)
    {
       background: $deep_blue_color;
       .btn_primary
       {
           color: $deep_blue_color;
       }
    }
    &:nth-of-type(4n+2)
    {
       background: $violet_color;
       .btn_primary
       {
           color: $violet_color;
       }
    }
    &:nth-of-type(4n+3)
    {
       background: $primary_color;
       .btn_primary
       {
           color: $primary_color;
       }
    }
    &:nth-of-type(4n+4)
    {
       background: $crimson_color;
       .btn_primary
       {
           color: $crimson_color;
       }
    }  
}
@mixin active_link_style {
    // background-color: rgb(255, 255, 255);
    color:$tertiary_color;
    // font-size: 101%; 
    // font-weight: 600;
    opacity: .8;
    border-bottom: 1px solid white;
}
.hide
{
    display: none !important;
}
.show
{
    display: block !important;
}
#active{
@include active_link_style();
}
.row{
    display: flex;
    gap: 1em;

    flex-wrap: wrap;
   
    &>*{
        
        flex:1 1 40%;

        @media screen and (max-width:900px) {
            flex-basis: 100%;
  
        }
    }
}
%icon_style
{
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.sect
{
    @media screen and (max-width:500px) {
        margin: $padding_medium;
        }
}
header.header{
    background: $primary_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding_medium;
    box-shadow: 0 1rem 1em rgba(0, 0, 0, 0.157);
    position: relative;
        img.menu
        {
            @extend %icon_style;
            display: none;
    @media screen and (max-width:500px) {
        display: flex;

    }
      
            
        }

        img.close
        {
            @extend %icon_style;
            display: none;
            
            @media screen and (max-width:500px) {
                display: flex;
        } 
        }
    
    .title_secondary
    {
        color:white;
    }
    nav.right{
        @media screen and (max-width:500px) {
            left: 0;
       display: none;
        margin: 0;
       position: absolute;
       width: 100vw;
       padding: $padding_medium;
       bottom: -23vh;

  background-color: rgba(0, 0, 0, 0.801);
}
        ul{
            @media screen and (max-width:500px) {
//    margin-top: $padding_large;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
        
            }
            display: flex;
            gap: 2em;
            li{

                a{
                    border-radius: .2em;
                    padding: .4em .6em;
                    font-weight: 400;
                    font-size: 1rem;
                    text-transform: uppercase;
                 color:white;
                 &:hover,.active{
                     
                    @include active_link_style();  
                 }
                }
            }
        }
    }
}

main{
    margin: $padding_small;
    display: flex;
    flex-direction: column;
    gap:1em;
    
    .about_section{
        align-items: center;
        justify-content: center;
        gap: 2rem;
        display: flex;
    background: $deep_blue_color;
    @media screen and (max-width:600px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1.title_primary,p{
            text-align: center;
        }
        
    }
    img{
        @media screen and (max-width:600px) {
            order: -1;
            width: 60%;
            height: 60%;
        }
        width: 15rem;
        height:15rem;
        border-radius: 50%;
   border: 2px solid $light_white_color;
   background-repeat: no-repeat;
   background-size: cover;
   background: white;

    }

    h1.title_primary{
color:white;
    }
    p.title_tertiary{
     color:$light_white_color;
    }
    
    }
    .technology_section{
       background: $tertiary_color;
       display: flex;
       flex-direction: column;
    //    align-items: center;
       h1.title_secondary{
        @media screen and (max-width:500px) {
        
            text-align: center;
        }
            }
            ul.tech_list{
                margin-top: $padding_medium;
                color: rgba(black,.9);
                font-weight: 400;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
        @media screen and (max-width:500px) {
            justify-content: center;
        }
                li
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    .tech_icon{

                        width: 3rem;
                        height: 3rem;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position:center;
                    }
                        // .html
                        // {
                        // background: url("../img/icons/html.svg");

                        // }
                        // .css
                        // {
                        //     background: url("../img/icons/css.svg");

                        // }
                        // .javascript
                        // {
                        //     background: url("../img/icons/javascript.svg");

                        // }
                        // .expressjs
                        // {
                        //     background: url("../img/icons/express.svg");

                        // }
                        // .reactjs
                        // {
                        //     background: url("../img/icons/reactjs.svg");

                        // }
                        // .nodejs
                        // {
                        //     background: url("../img/icons/nodejs.svg");

                        // }
                        // .mongodb
                        // {
                        //     background: url("../img/icons/mongodb.svg");

                        // }
                        // .android
                        // {
                        //     background: url("../img/icons/android.svg");

                        // }
                        // .flutter
                        // {
                        //     background: url("../img/icons/flutter.svg");

                        // }
                    
                }
            }
    }
    .project_section{
        background: $primary_color;
       @include card_style;
       
    }
    .blog_section{
       background: $violet_color;
       @include card_style;

    }
    .section_codes
    {
        .title_primary
        {
@include title_center();
        }
        .code_list
        {
        display: flex;
        flex-wrap: wrap;
        gap:$padding_small;
   
        .code_card
        {
            @include card_style_2();
            
  
            // &:nth-of-type(n+2)
            // {
            //    background: #82e1ee;
            // }
            // &:nth-of-type(n+3)
            // {
            //    background: #8289ee;
            // }
            // flex-basis: 30.5%;
            flex:1 1 30%;
            @media screen and (max-width:600px) {
                flex-basis: 100%;
            }
            .title_secondary
            {
              color:white;
            }
            .cta_btns
            {
                display: flex;
                gap: .8rem;
                a{
                    // .live_project
                    // {
                    //    background: white;
                    // }
                    // .live_project
                    // {

                    // }
                }
            }
        }
    }
    }

    .section_blogs
    {

       
        .title_primary
        {
            @include title_center();

        }
        .blog_list
        {
            display: flex;
            flex-wrap: wrap;
            gap:$padding_small;
       
            // flex-basis: 30.5%;
            // .blogs_card
            // {   width: 90%;
            //     height: 40vh;
            //     background-image: linear-gradient(transparent,$primary_color),url('../img/coder.svg');
            // }
           .blog_card
           {
            @include card_style_2();

            flex:1 1 40%;
            @media screen and (max-width:600px) {
                flex-basis: 100%;
            }
               .title_secondary
               {
                 color: white;
               }
               .published_date
               {

               }
               .read_more
               {
                   
               }
           } 
        }
    }
}
footer#footer{
    background: rgb(31, 52, 61);
    margin:$padding_small;
    .title_secondary
    {
        color:white;
    }
    @media screen and (max-width:500px) {
        
        text-align: center;
    }
    ul
    {
        margin-top: $padding_small;
        display: flex;
        gap: 2rem;
        @media screen and (max-width:500px) {
        
            justify-content: center;
        }

        li
        {
            a{
                img
                {
                    width: 2rem;
                height: 3rem;
                background-size: cover;
                background-repeat: no-repeat;
                background-position:center;
                }
                // .twitter
                // {
                //     background: url("../img/icons/twitter.svg");
                // }
                // .linkedin
                // {

                // }
                // .github
                // {

                // }
                // .codepen
                // {

                // }
                
            }

        }
    }
}

.blog_post_card
{
    background-color: rgba(255, 255, 255, 0.781);
    .published_date
    {
        color:rgba(0, 0, 0, 0.698);
    }
    p.desc
    {
        color:rgba(0, 0, 0, 0.739);
    }
}