@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li.social {
  cursor: pointer;
}

body {
  overflow-x: hidden;
  background: #e1e9e9;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 700px) {
  body header.header {
    gap: 1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0.5rem 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body header.header .title_secondary {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  body header.header img {
    margin-left: 0.5rem;
  }
  body main,
  body footer#footer {
    margin: 0.5em;
  }
}

button,
.btn {
  padding: 0.5em 0.8em;
  border-radius: 0.3em;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover,
.btn:hover {
  -webkit-box-shadow: 0 4px 0.5rem rgba(0, 0, 0, 0.281);
          box-shadow: 0 4px 0.5rem rgba(0, 0, 0, 0.281);
}

.title_primary {
  font-size: 2rem;
  text-transform: uppercase;
  color: teal;
}

.title_secondary {
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: teal;
}

.title_tertiary {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.877);
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.267);
          box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.267);
}

.btn_primary {
  background: white;
  font-weight: 500;
}

.btn_primary a {
  color: inherit;
}

.btn_deep_blue {
  background: #0886cf;
}

.btn_secondary {
  font-weight: 500;
  border: 1px solid white;
  color: white;
}

.btn_crimson {
  background: #ff0b48;
}

.color_primary {
  color: teal;
}

.color_violet {
  color: #6312ce;
}

.btn_white {
  background: white;
}

.published_date {
  font-weight: 300;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.856);
}

.center {
  text-align: center;
}

p.desc {
  overflow: hidden;
  margin: 1rem 0;
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.904);
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

#active {
  color: white;
  opacity: 0.8;
  border-bottom: 1px solid white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

@media screen and (max-width: 900px) {
  .row > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

header.header img.menu, header.header img.close {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 700px) {
  .sect {
    margin: 1.5rem;
  }
}

header.header {
  background: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  -webkit-box-shadow: 0 1rem 1em rgba(0, 0, 0, 0.157);
          box-shadow: 0 1rem 1em rgba(0, 0, 0, 0.157);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
}

header.header img.menu {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 700px) {
  header.header img.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header.header img.close {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 700px) {
  header.header img.close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header.header .title_secondary {
  color: white;
}

@media screen and (max-width: 700px) {
  header.header nav.right {
    left: 0;
    top: 10vh;
    display: none;
    margin: 0;
    position: absolute;
    width: 100vw;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.89);
  }
}

header.header nav.right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

@media screen and (max-width: 700px) {
  header.header nav.right ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
}

header.header nav.right ul li a {
  border-radius: 0.2em;
  padding: 0.4em 0.6em;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}

header.header nav.right ul li a:hover,
header.header nav.right ul li a .active {
  color: white;
  opacity: 0.8;
  border-bottom: 1px solid white;
}

main {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

main .about_section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0886cf;
}

@media screen and (max-width: 500px) {
  main .about_section {
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .about_section h1.title_primary,
  main .about_section p {
    text-align: center;
  }
}

main .about_section img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.863);
  background-repeat: no-repeat;
  background-size: cover;
  background: white;
}

@media screen and (max-width: 600px) {
  main .about_section img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 60%;
    height: 60%;
  }
}

main .about_section h1.title_primary {
  color: white;
}

main .about_section p.title_tertiary {
  color: rgba(255, 255, 255, 0.863);
}

main .technology_section {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 700px) {
  main .technology_section h1.title_secondary {
    text-align: center;
  }
}

main .technology_section ul.tech_list {
  margin-top: 1.5rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 700px) {
  main .technology_section ul.tech_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .technology_section ul.tech_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

main .technology_section ul.tech_list li .tech_icon {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main .project_section {
  background: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .project_section .title_secondary {
  color: white;
  margin-bottom: 0.5rem;
}

main .project_section .section_desc {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.863);
  margin-bottom: 0.8rem;
}

main .project_section button {
  margin-top: auto;
}

main .blog_section {
  background: #6312ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .blog_section .title_secondary {
  color: white;
  margin-bottom: 0.5rem;
}

main .blog_section .section_desc {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.863);
  margin-bottom: 0.8rem;
}

main .blog_section button {
  margin-top: auto;
}

@media screen and (max-width: 700px) {
  main .section_codes {
    margin-top: 15vh;
  }
}

main .section_codes .title_primary {
  text-align: center;
  margin-bottom: 1.5rem;
}

main .section_codes .code_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

main .section_codes .code_list .code_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

main .section_codes .code_list .code_card:nth-of-type(4n + 1) {
  background: #0886cf;
}

main .section_codes .code_list .code_card:nth-of-type(4n + 1) .btn_primary {
  color: #0886cf;
}

main .section_codes .code_list .code_card:nth-of-type(4n + 2) {
  background: #6312ce;
}

main .section_codes .code_list .code_card:nth-of-type(4n + 2) .btn_primary {
  color: #6312ce;
}

main .section_codes .code_list .code_card:nth-of-type(4n + 3) {
  background: teal;
}

main .section_codes .code_list .code_card:nth-of-type(4n + 3) .btn_primary {
  color: teal;
}

main .section_codes .code_list .code_card:nth-of-type(4n + 4) {
  background: #ff0b48;
}

main .section_codes .code_list .code_card:nth-of-type(4n + 4) .btn_primary {
  color: #ff0b48;
}

main .section_codes .code_list .code_card p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 600px) {
  main .section_codes .code_list .code_card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

main .section_codes .code_list .code_card .title_secondary {
  color: white;
}

main .section_codes .code_list .code_card .cta_btns {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
}

@media screen and (max-width: 700px) {
  main .section_blogs {
    margin-top: 14vh;
  }
}

main .section_blogs .title_primary {
  text-align: center;
  margin-bottom: 1.5rem;
}

main .section_blogs .blog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -ms-flex-preferred-size: 30.5%;
      flex-basis: 30.5%;
}

main .section_blogs .blog_list .blog_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

main .section_blogs .blog_list .blog_card:nth-of-type(4n + 1) {
  background: #0886cf;
}

main .section_blogs .blog_list .blog_card:nth-of-type(4n + 1) .btn_primary {
  color: #0886cf;
}

main .section_blogs .blog_list .blog_card:nth-of-type(4n + 2) {
  background: #6312ce;
}

main .section_blogs .blog_list .blog_card:nth-of-type(4n + 2) .btn_primary {
  color: #6312ce;
}

main .section_blogs .blog_list .blog_card:nth-of-type(4n + 3) {
  background: teal;
}

main .section_blogs .blog_list .blog_card:nth-of-type(4n + 3) .btn_primary {
  color: teal;
}

main .section_blogs .blog_list .blog_card:nth-of-type(4n + 4) {
  background: #ff0b48;
}

main .section_blogs .blog_list .blog_card:nth-of-type(4n + 4) .btn_primary {
  color: #ff0b48;
}

main .section_blogs .blog_list .blog_card p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 600px) {
  main .section_blogs .blog_list .blog_card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

main .section_blogs .blog_list .blog_card section.desc {
  margin: 1rem 0;
}

main .section_blogs .blog_list .blog_card .title_secondary {
  color: white;
}

main .section_blogs .blog_list .blog_card .read_more {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

footer#footer {
  background: #1f343d;
  margin: 1rem;
}

footer#footer .title_secondary {
  color: white;
}

@media screen and (max-width: 700px) {
  footer#footer {
    text-align: center;
  }
}

footer#footer ul {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

@media screen and (max-width: 700px) {
  footer#footer ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer#footer ul li a img {
  height: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1.loading {
  text-align: center;
  margin: 2rem auto;
}

main {
  min-height: 70vh;
  margin-top: 15vh;
}

main.blog_info {
  margin-top: 10vh;
}

main.blog_info .section_blogs {
  margin: 0;
}

main.blog_info .blog_post_card {
  margin: 2rem 1rem;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.781);
}

main.blog_info .blog_post_card .published_date {
  color: rgba(0, 0, 0, 0.698);
}

main.blog_info .blog_post_card section.desc {
  margin-top: 0.5rem;
  line-height: 1.9;
  color: rgba(0, 0, 0, 0.931);
}

footer#footer {
  border-radius: 0;
  margin: 0;
}

main.not_found {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #313942;
}

main.not_found h1 {
  color: #e7ebf2;
  font-size: 12.5rem;
  letter-spacing: 0.1em;
  margin: 0.025em 0;
  text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

@media (max-width: 30rem) {
  main.not_found h1 {
    font-size: 8.5rem;
  }
}

main.not_found h1 > span {
  -webkit-animation: spooky 2s alternate infinite linear;
          animation: spooky 2s alternate infinite linear;
  color: #528cce;
  display: inline-block;
}

main.not_found h2 {
  color: #e7ebf2;
  margin-bottom: 0.4em;
}

main.not_found p {
  color: #ccc;
  margin-top: 0;
}

@-webkit-keyframes spooky {
  from {
    -webkit-transform: translatey(0.15em) scaley(0.95);
            transform: translatey(0.15em) scaley(0.95);
  }
  to {
    -webkit-transform: translatey(-0.15em);
            transform: translatey(-0.15em);
  }
}

@keyframes spooky {
  from {
    -webkit-transform: translatey(0.15em) scaley(0.95);
            transform: translatey(0.15em) scaley(0.95);
  }
  to {
    -webkit-transform: translatey(-0.15em);
            transform: translatey(-0.15em);
  }
}

.body {
  margin-top: 14vh;
}

@media (max-width: 30rem) {
  .body {
    margin-top: 9vh;
  }
}

.quill {
  min-height: 40vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.89);
}

@media screen and (max-width: 900px) {
  main.add_section {
    margin-top: 10vh;
    padding: 0.5rem 0.5rem;
  }
}

main.add_section form {
  border-radius: 5px;
  padding: 2rem;
  background: #0886cf;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40rem;
  gap: 0.8rem;
}

main.add_section form ::-webkit-input-placeholder {
  color: rgba(24, 33, 36, 0.76);
}

main.add_section form :-ms-input-placeholder {
  color: rgba(24, 33, 36, 0.76);
}

main.add_section form ::-ms-input-placeholder {
  color: rgba(24, 33, 36, 0.76);
}

main.add_section form ::placeholder {
  color: rgba(24, 33, 36, 0.76);
}

main.add_section form input,
main.add_section form textarea {
  border-radius: 0.3rem;
  padding: 0.6rem 0.8rem;
  width: 100%;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.8);
}

main.add_section form textarea {
  height: 20vh;
}

main.add_section form button {
  margin-top: 1rem;
  text-transform: uppercase;
  padding: 0.7rem 1rem;
}

@media screen and (max-width: 900px) {
  main.add_section form {
    width: 100%;
    margin: 0;
    padding: 1.5rem;
  }
}

main.add_blogs form {
  width: 100%;
  margin: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main.add_blogs form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

main.add_blogs form .row input {
  width: 50vw;
}

main.dashboard {
  margin-top: 20vh;
}

@media screen and (max-width: 900px) {
  main.dashboard {
    padding: 2rem;
  }
}

main.dashboard .card {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
}

@media screen and (max-width: 700px) {
  main.dashboard .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.dashboard .card .btn {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
}

@media screen and (max-width: 900px) {
  main.dashboard .card .btn {
    font-size: 1rem;
  }
}

section.desc {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
/*# sourceMappingURL=style.css.map */